@import 'partials/setup';
@import 'partials/variables';
@import 'partials/global';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/courses';
@import 'partials/services';
@import 'partials/blog';
@import 'partials/work';
@import 'partials/footer';