// Reverting Defaults

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

button {
	background: none;
	border: none;
}

// Typography

body {
	font-family: $displayFont;
}

p {
	font-family: $copyFont
}

h1 {

}

h2 {

}

.logo {
	font-family: $displayFont;
	font-weight: 700;
	font-size: 30px;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	border: 2px solid $fontColourDark;
	display: flex;
	justify-content: center;
	align-items: center;
}